ETicketWebClient/ETicketWebClient/Connected Services/ETicketService/ETicketServiceClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ETicketServiceClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_GetEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_CreateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_CreateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_UpdateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_UpdateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAdminInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminInfo" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAdminInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_GetSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatService_GetSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_DeleteSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatService_DeleteSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_CreateSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatService_CreateSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_UpdateSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatService_UpdateSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_GetAllSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeats" />
  </wsdl:message>
  <wsdl:message name="ISeatService_GetAllSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeatsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrdersOfCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersOfCustomer" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrdersOfCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersOfCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderTickets" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Cancel_InputMessage">
    <wsdl:part name="parameters" element="tns:Cancel" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Cancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_CreateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_CreateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_DeleteTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_DeleteTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_UpdateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_UpdateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAllTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTickets" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAllTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTicketsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="GetEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetEvent" message="tns:IEventService_GetEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetEventResponse" message="tns:IEventService_GetEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/CreateEvent" message="tns:IEventService_CreateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/CreateEventResponse" message="tns:IEventService_CreateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/DeleteEvent" message="tns:IEventService_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/DeleteEventResponse" message="tns:IEventService_DeleteEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/UpdateEvent" message="tns:IEventService_UpdateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/UpdateEventResponse" message="tns:IEventService_UpdateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetAllEvents" message="tns:IEventService_GetAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetAllEventsResponse" message="tns:IEventService_GetAllEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="GetAdminInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAdminInfo" message="tns:IAdminService_GetAdminInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAdminInfoResponse" message="tns:IAdminService_GetAdminInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISeatService">
    <wsdl:operation name="GetSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/GetSeat" message="tns:ISeatService_GetSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/GetSeatResponse" message="tns:ISeatService_GetSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/DeleteSeat" message="tns:ISeatService_DeleteSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/DeleteSeatResponse" message="tns:ISeatService_DeleteSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/CreateSeat" message="tns:ISeatService_CreateSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/CreateSeatResponse" message="tns:ISeatService_CreateSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/UpdateSeat" message="tns:ISeatService_UpdateSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/UpdateSeatResponse" message="tns:ISeatService_UpdateSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/GetAllSeats" message="tns:ISeatService_GetAllSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/GetAllSeatsResponse" message="tns:ISeatService_GetAllSeats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrder" message="tns:IOrderService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderResponse" message="tns:IOrderService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/CreateOrder" message="tns:IOrderService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CreateOrderResponse" message="tns:IOrderService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrder" message="tns:IOrderService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderResponse" message="tns:IOrderService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdateOrder" message="tns:IOrderService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/UpdateOrderResponse" message="tns:IOrderService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllOrders" message="tns:IOrderService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllOrdersResponse" message="tns:IOrderService_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersOfCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrdersOfCustomer" message="tns:IOrderService_GetOrdersOfCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrdersOfCustomerResponse" message="tns:IOrderService_GetOrdersOfCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderTickets" message="tns:IOrderService_GetOrderTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderTicketsResponse" message="tns:IOrderService_GetOrderTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/Cancel" message="tns:IOrderService_Cancel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CancelResponse" message="tns:IOrderService_Cancel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITicketService">
    <wsdl:operation name="GetTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetTicket" message="tns:ITicketService_GetTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetTicketResponse" message="tns:ITicketService_GetTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/CreateTicket" message="tns:ITicketService_CreateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/CreateTicketResponse" message="tns:ITicketService_CreateTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/DeleteTicket" message="tns:ITicketService_DeleteTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/DeleteTicketResponse" message="tns:ITicketService_DeleteTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/UpdateTicket" message="tns:ITicketService_UpdateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/UpdateTicketResponse" message="tns:ITicketService_UpdateTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetAllTickets" message="tns:ITicketService_GetAllTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetAllTicketsResponse" message="tns:ITicketService_GetAllTickets_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventService" type="tns:IEventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/CreateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/UpdateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdminInfo">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAdminInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISeatService" type="tns:ISeatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSeat">
      <soap:operation soapAction="http://tempuri.org/ISeatService/GetSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <soap:operation soapAction="http://tempuri.org/ISeatService/DeleteSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSeat">
      <soap:operation soapAction="http://tempuri.org/ISeatService/CreateSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <soap:operation soapAction="http://tempuri.org/ISeatService/UpdateSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSeats">
      <soap:operation soapAction="http://tempuri.org/ISeatService/GetAllSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersOfCustomer">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrdersOfCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderTickets">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrderTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="http://tempuri.org/IOrderService/Cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITicketService" type="tns:ITicketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketService/CreateTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketService/DeleteTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketService/UpdateTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTickets">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetAllTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ETicketServiceClass">
    <wsdl:port name="BasicHttpBinding_IEventService" binding="tns:BasicHttpBinding_IEventService">
      <soap:address location="http://localhost:8080/ETicketService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8080/ETicketService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISeatService" binding="tns:BasicHttpBinding_ISeatService">
      <soap:address location="http://localhost:8080/ETicketService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost:8080/ETicketService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITicketService" binding="tns:BasicHttpBinding_ITicketService">
      <soap:address location="http://localhost:8080/ETicketService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>